<h1>Activation de votre compte</p>
<p style="font-size: 12px;">Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p style="font-size: 12px;"><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>
<br><br><br><br>
<img style="width: 95%; height: 100px; " src="http://stage.santeassurance.eu/clara/logo/logo.png"/>