{% extends "base.html.twig" %}

{% block body %}

    <p>Affaire n° {{ affairs_number }}, {{ userFirstname }} {{ userLastname }} a déposé un fichier.</p>
    <br><br><br><br>
    <img style="width: 95%; height: 100px; " src="http://stage.santeassurance.eu/clara/logo/logo.png"/>

{% endblock %}